$mdc-theme-primary: #4ca0e9;
$mdc-theme-secondary: #4ca0e9;

$mdc-theme-on-primary: #4ca0e9;
$mdc-theme-on-secondary: #4ca0e9;
@import "@material/drawer/mdc-drawer";//drawer
@import "@material/button/mdc-button";//button
@import "@material/list/mdc-list";
@import "@material/fab/mdc-fab";
@import "@material/chips/mdc-chips";//chips
@import "@material/checkbox/mdc-checkbox"; //checkbox for data-table (My Requests page)
@import "@material/data-table/mdc-data-table";// data-table (My Requests page)
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/menu/mdc-menu";
@import "./styles/index.scss";//INDEX page
@import "./styles/my-requests.scss";//MY REQUESTS page
@import "@material/grid-list/mdc-grid-list";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";

.my-card-content {
  padding: 16px;
}
.my-card {
  height: 350px;
  width: 350px;
}
/*overwrite bundle.css font styles*/
.mdc-data-table__header-cell,
.mdc-data-table__cell,
.mdc-chip {
  font-family: 'Titillium Web', sans-serif !important;
  font-size: 16px;
  font-weight: 400;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
header {
  width: 100%;
}
* {
  margin: 0;
  padding: 0; 
}

/* Hamburger(now is now usable!!!!!!!!!!!!!!!) */
 #nav-icon3 {
  width: 45px;
  height: 21px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

 #nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #4ca0e9;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
/* end of hamburger */





/*h1 title(not all the pages)*/
.pages-main-title {
  color: #343d42;
  font-size: 40px;
  line-height: 72px;
  font-family: 'Titillium Web', sans-serif !important;
  font-weight: 100;
  margin: 0 0 20px 12px;
}
/*---------
  HEADER
---------*/
.main-header {
background-color: #36414c;
margin-bottom: 30px;
padding: 10px 30px;
  &--btn {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif !important;
    color: #fff !important;
    text-transform: none;
    letter-spacing: 0 !important;
    // background: #5b9de3 !important;
    border-radius: 30px !important;
    width: 140px;
    height: 48px;
    @include mdc-button-filled-accessible(#5b9de3);
  }
}
/*------------------------------------------
  STYLES FOR ALL PAGES WITH LEFT SIDEBAR
-------------------------------------------*/
.sidebar-page-body {
  display: flex;
  .mdc-drawer-app-content {
    width: 100%;
  }
}

/*left sidebar(on pages with left sidebar)*/
.mdc-drawer {
  padding-top: 92px;
  width: 170px !important;
  &--modal {
    z-index: 100;
    top: 0; 
    border: none;
  }
  .mdc-list-item {
    height: auto;
    padding: 24px 8px;
    margin: 0;
    border-radius: 0;
    &--activated {
      background-color: initial !important;
      color: #fff;
      &:active {
        background-color: #5b9de3 !important;
      }
    }
  }
}

/*header styles (pages with sidebar)*/
.sidebar-page-header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.09);
  background: #fff;
  top: 0;
  font-family: 'Titillium Web', sans-serif !important;
  color: #343d42;
  padding: 10px 20px;
  box-sizing: border-box;
  z-index: 7;
  p {
    margin: 0;
  }
  .mdc-top-app-bar__navigation-icon {
    color: #4ca0e9;
    margin-right: auto;
    padding: 20px 20px 20px 10px;
    margin-bottom: 10px;
    display: none;
  }
  .header-logout {
    display: flex;
    align-items: center;
    .mdc-button  {
      text-transform: none;
      font-family: 'Titillium Web', sans-serif !important;
      font-size: 16px;
      color: #4ca0e9;
      letter-spacing: initial;
      border-radius: 25px;
      padding: 23px 44px;
      border: 2px solid #459de9;
      &:hover,
      &:active,
      &:focus {
        &::before,
        &::after {
          background-color: #459de9;
        }
      }
    }

  }
}
/*(pages with sidebar)*/
.sidebar-page-header--wrapper {
  display: flex;
  margin-left: 10px;
}
/*notifications block in header(pages with sidebar)*/
.header-notifications {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
  &--icon {
    display: flex;
    position: relative;
    margin-right: 6px;
  }
  &--number {
    position: absolute;
    top: 3px;
    font-size: 12px;
    color: #fff;
  }
  &--text {
    font-weight: 600;
  }
  &--mob {
    display: none;
    font-weight: 600; 
    margin-right: 5px !important;
  }
}
/*user block with photo in header(pages with sidebar)*/
.header-user {
  display: flex;
  align-items: center;
  margin-right: 30px;
  line-height: 20px;
  cursor: pointer;
  &--photo {
    display: flex;
    align-items: center;
    margin-right: 13px;
    &-img {
      width: 72px;
      height: 72px;
      border-radius: 100%;
    }
  }
  &--name {
    font-weight: 600;
  }
}
/*wrapper wich contains notifications and user blocks inside header(pages with sidebar)*/
.notifications-and-user--wraper {
  display: flex;
}
/*wrapper wich contains header, sidebar and main blocks(pages with sidebar)*/
.sidebar-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dashboard-main {
  padding: 30px 40px;
  background-color: #f3f6f9;
  margin-top: 92px;
  box-sizing: border-box;
  min-height: calc(100vh - 92px);
  .mdc-list-item__text {
    color: #959595;
    font-size: 14px;
  }
}

.dashboard-sidebar {
  display: flex;
  position: fixed;
  flex-direction: column;
  min-width: 170px;
  color: #5b9de3;
  background-color: #36414c;
  z-index: 100;
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    cursor: pointer;
    &-name {
      font-family: 'Titillium Web', sans-serif !important;
      font-size: 16px;
      font-weight: 700;
      margin: 0;
      color: #5b9de3;
    }
    &--icon {
      margin-bottom: 18px;
    }
    &--request svg {
      position: relative;
      left: 5px;
    }
    &:hover {
      background: #5b9de3;
      color: #fff;
      > svg path {
        stroke: #fff;
      }
      > .dashboard-sidebar-item-name {
        color: #fff;
      }
    }
  }
}







/*Media for all pages with left sidebar*/
@media screen and (max-width: 1024px) {
  .mdc-drawer {
    padding-top: 0;
    .mdc-list-item {
      padding: 14px 8px;
      svg {
        display: none;
      }
    }
  }
  .sidebar-page-header .mdc-top-app-bar__navigation-icon {
    display: block;
  }
  .dashboard-hamburger {
    display: block;
    margin-right: auto;
  }
  .pages-main-title {
    font-size: 32px;
    line-height: 32px;
    margin: 0 0 16px 12px;
  }
  .dashboard-main {
    margin-top: 60px;
    padding: 10px 10px;
    width: 100%;
    overflow-x: scroll;
    min-height: calc(100vh - 60px);
  }
  .dashboard-sidebar {
    // top: 60px;
    // min-width: 120px;
    // left: -150px;
    transition: .4s ease;
    .dashboard-sidebar-item {
      padding: 20px 0;
    }
  }
  .sidebar-page-header {
    font-size: 16px;
    padding: 10px 10px;
    max-height: 60px;
    min-height: 60px;
    z-index: 5;
    .header-logout .mdc-button {
      padding: 18px 22px;
    }
    .header-user {
      margin-right: 20px;
      &--photo {
        &-img {
          width: 50px;
          height: 50px;
        }
      }
    }
    .header-notifications {
      margin-right: 20px;
    }
  }
}
@media screen and (max-width: 700px) {
  .sidebar-page-header .material-icons {
    padding: 20px 10px 20px 0px;
  }
  .header-user--photo {
    margin-right: 0;
    &-img {
      display: none;
    }
  }
  .header-notifications--icon {
    display: none;  
  }
  .header-notifications--mob {
    display: block;
  }
}
@media screen and (max-width: 550px) {
  .sidebar-page-header {
    font-size: 14px;
    &--wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .header-logout .mdc-button {
      padding: 14px 17px;
    }
  }
  .notifications-and-user--wraper {
    flex-direction: column;
    
  }
}

@media screen and (max-width: 400px) {
  .sidebar-page-header {
    font-size: 12px;
    line-height: 12px;
    .header-logout .mdc-button {
      padding: 9px 10px;
      font-size: 14px;
      border-radius: 18px;
    }
    .header-user {
      margin-right: 10px;
      &--text {
        line-height: 17px;
      }
    }
  }
  .notifications-and-user--wraper {
    width: 172px;
  }
}



/*if screen height is less then 650px and width is more then 1024px then 
make dashboard sidebar icons smaller*/
@media screen and (max-height: 650px) and (min-width: 1024px) {
  .dashboard-sidebar-item--icon {
    width: 30px;
  }
  .dashboard-sidebar-item--icon {
    margin-bottom: 0;
  }
  .mdc-drawer .mdc-list-item {
    padding: 13px 8px;
  }
}
/*PAGINATION FOR ALL PAGES*/
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-btn {
  text-transform: none;
  font-family: 'Titillium Web', sans-serif !important;
  font-size: 13px;
  letter-spacing: 0;
  font-weight: 700;
  color: #5b9de3 !important;
  border-radius: 23px;
  border: 2px solid #f2f8fd;
  width: 146px;
  height: 40px;
  // &:hover,
  // &:active,
  // &:focus {
  //   background: #5b9de357;
  // }
  // &::before,
  // &::after {
  //   background: #5b9de357;
  // }
  
}
.pagination-numbers {
  font-size: 14px;
  font-family: 'Titillium Web', sans-serif !important;
  cursor: pointer;
  &--item {
    margin-right: 22px;
    &-active {
      font-weight: bold;
      text-decoration: underline;
      color: #5b9de3;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .dashboard-main {
    padding: 10px 10px;
  }
  .pagination {
    flex-wrap: wrap;
    justify-content: center;
    &-numbers {
      order: -1;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
    .pagination-btn {
      margin-bottom: 15px;
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .pagination {
    flex-direction: column;
  }
  .pagination .pagination-btn:not(:last-child) {
    margin-right: 0;
  }
}
/*--------
  FOOTER
---------*/
.footer {
  font-family: 'Titillium Web', sans-serif !important;
  width: 100%;
  color: #fff;
  &-link {
    color: #fff;
    text-decoration: none;
    transition: .4s ease;
    &:hover {
      opacity: .6;
    }
  }
  &-top {
    display: flex;
    justify-content: space-between;
    background-color: #36414c;
    padding: 70px 80px;
    &-section--title {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
    &-section--item {
      font-weight: 600;
      margin-bottom: 18px;
      font-size: 12px;
      text-decoration: none;
      color: #fff;
      transition: .4s ease;
    }
    &-section--items {
      display: flex;
      flex-direction: column;
    }
  }
  &-bottom {
    background-color: #1f262d;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-copyright {
    color: #c6def6;
    p {
      &:nth-child(1) {
        margin-bottom: 4px;
        font-size: 12px;
      }
      &:nth-child(2) {
        font-size: 10px;
      }
    }
  }
  &-social {
    display: flex;
    a {
      display: block;
      transition: .4s ease;
      &:not(:last-child) {
        margin-right: 12px;
      }
      width: 34px;
      height: 34px;
      &:hover {
        opacity: .7;
      }
    }
  }
  &-facebook {
    background: url('img/facebook.png');
  }
  &-twitter {
    background: url('img/twitter.png');
  }
  &-google-plus {
    background: url('img/google-plus.png');
  }
  &-insta {
    background: url('img/insta.png');
  }
}
.footer--courses {
  .footer-top-section--item {
    p:nth-child(1)  {
      margin-bottom: 1px;
    }
    p:nth-child(2)  {
      font-weight: 400;
    }
  }
}

.contact-us-phone {
  font-size: 22px;
  background: url('./img/footer-phone.png') left center no-repeat;
}
.contact-us-secure {
  text-transform: uppercase;
  background: url('./img/footer-secure.png') left center no-repeat;
}
.contact-us-email {
  background: url('./img/footer-email.png') left center no-repeat;
}
.contact-us-location {
  background: url('./img/footer-location.png') left center no-repeat;
}
.footer--contact-us {
  max-width: 280px;
  .footer-top-section--item {
    padding-left: 30px;
  }
}

footer {
  .footer-form--inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .mdc-text-field {
      @include mdc-text-field-textarea-fill-color(transparent);
      @include mdc-text-field-bottom-line-color(transparent);
      border-radius: 23px;
      height: 45px;
      color: #fff !important;
      border: 1px solid rgba(155, 143, 143, 0.7) !important;
      border-bottom: 1px solid rgba(155, 143, 143, 0.7) !important;
      font-family: 'Titillium Web', sans-serif !important;
      width: calc((100% - 20px)/2);
      padding: 20px 15px;
      &:hover {
        border-bottom: 1px solid rgba(155, 143, 143, 0.7) !important;
      }
      &:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
      }
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 24px;
      }
      .mdc-floating-label {
        top: 13px !important;
      }
      &:not(.mdc-text-field--disabled) .mdc-text-field__input {
        color: #fff;
      }
    }
  }
}


.payment-types {
  display: flex;
  align-items: center;
  padding-left: 34px;
}
.visa {
  background: url('./img/visa.png');
  width: 96px;
  height: 32px;
  margin-right: 20px;
}
.mastercard {
  background: url('img/mastercard.png');
  width: 64px;
  height: 50px;
}
.footer-form {
  max-width: 410px;
  background-color: #455463;
  border-radius: 9px;
  padding: 30px 45px;
  &-submit {
    height: 54px;
    border-radius: 27px;
    border: 2px solid #fff;
    font-size: 16px;
    color: #fff !important;
    text-transform: none;
    font-weight: 600;
    width: 100%;
    font-family: 'Titillium Web', sans-serif !important;
    margin-top: 34px;
  }
  &-title {
    background: url(img/footer-form.png) -22px -4px no-repeat;
    margin-bottom: 40px;
    p {
      font-weight: 600;
      &:nth-child(1) {
        font-size: 26px;
      }
      &:nth-child(2) {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.6);
      }
    }

  }
  &-title {
    padding-left: 75px;
  // background: url('./img/footer-location.png') left center no-repeat;

  }
}
/*Media for footer*/
@media screen and (max-width: 1300px) {
  .footer {
    &-bottom {
      padding: 25px 50px;
    }
    &-top {
      padding: 50px 50px;
    }
    &-form {
      max-width: 280px;
      background-color: #455463;
      border-radius: 9px;
      padding: 30px 30px;
    }
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    &-bottom {
      padding: 35px 30px;
      flex-direction: column;
    }
    &-top {
      padding: 35px 30px;
    }
    &-copyright {
      margin-bottom: 15px;
      p:nth-child(1) {
        margin-bottom: 7px;
      }
    }
  }
  .footer-top {
    flex-direction: column;
    &-section--items {
      flex-wrap: wrap;
      flex-direction: row;
    }
    &-section--item {
      padding: 10px 10px;
    }
  }
  .footer--site-map,
  .footer--courses {
    .footer-top-section--item {
      &:nth-child(1) {
        padding-left: 0;
      }
    }
  }
  .footer-top-section--title {
    margin-bottom: 5px;
  }
}