@import "~@material/checkbox/mdc-checkbox";
@import "~@material/data-table/mdc-data-table";

/*Styles for My account page*/
.my-account--info-wrapper {
    padding: 40px 50px;
    max-width: 1271px;
    box-shadow: 0 15px 30px rgba(25, 71, 128, 0.2);
    border-radius: 5px;
    background-color: #ffffff;
}





/*Media for My account page*/





