@import "~@material/checkbox/mdc-checkbox";
@import "~@material/data-table/mdc-data-table";
@import "~@material/tab-bar/mdc-tab-bar";
@import "~@material/tab-scroller/mdc-tab-scroller";
@import "~@material/tab-indicator/mdc-tab-indicator";
@import "~@material/tab/mdc-tab";

/*Styles for Contact*/
.contact {
    &--send-btn-row {
        display: flex;
        justify-content: flex-end;
    }
    &--one-skill {
        span {
            top: 0 !important;
        }
        background-color: rgba(155, 155, 155, 0.4);
        margin-right: 8px;
        &:active,
        &:focus,
        &:hover {
            &::before,
            &::after {
                background-color: rgba(155, 155, 155, 0.65);
            }
        }
    }
    &-page {
        padding: 55px 20px;
        max-width: 1200px;
        margin: auto;
    }
    &-main {
        display: flex;
        border-top: 1px solid rgba(155, 155, 155, 0.29);
    }
    &-photo-block {
        min-width: 390px;
        margin-right: 40px;
    }
    &--info-wrapper {
        padding-left: 21px;
    }
    &-top-row {
        margin-bottom: 40px;
    }
    &-page-form {
        width: 100%;
        .form-title {
            font-family: 'Titillium Web', sans-serif !important;
            border-bottom: 1px solid rgba(155, 155, 155, 0.29);
            color: #4a5054;
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 30px;
            padding: 35px 0 20px 0;
            &-bold {
                font-weight: 700;
            }
        }
    }
    &--general-info {
        border-bottom: 1px solid rgba(155, 155, 155, 0.29);
        margin-bottom: 35px;
        padding-bottom: 35px;
    }
    &--info-title {
        color: #777171;
        font-family: 'Titillium Web', sans-serif !important;
        font-size: 15px;
        font-weight: 700;
        text-transform: uppercase;
        border-left: 3px solid #5b9de3;
        padding-left: 16px;
        line-height: 14px;
        margin-bottom: 30px;
    }
}
.contact-photo-block {
    .profile__user {
        margin-top: 0;
        &-location {
            display: flex;
            align-items: center;
            color: #b2b2b2;
            font-family: 'Titillium Web', sans-serif !important;
            font-size: 14px;
            font-weight: 400;
            margin-top: -7px;
            margin-bottom: 10px;
            .material-icons {
                font-size: 20px;
            }
        }
        &-title {
            margin-bottom: 3px;
        }
    }
    .profile__small-description {
        top: -2px;
    }
}
.contact-page .info-row {
    label {
        min-width: 210px;
    }
}

#contact-technologies {
    margin-bottom: 10px;
}

.contact--work-required {
    .skills-block {
        width: 100%;
    }
    .info-row-descrip {
        align-items: flex-start;
        span {
            width: 125px;
            display: block;
        }
    }
    .info-row-skills {
        align-items: flex-start;
    }
}


/*Media for Contact page */
@media screen and (max-width: 1024px) {
    .contact {
        &-main {
            flex-direction: column;
        }
        &-photo-block {
            margin-right: 0;
            min-width: initial;
        }
        &-top-row {
            margin-bottom: 30px;
        }
        &-page {
            padding: 20px 20px 0px 20px;
        }
    }
}
@media screen and (max-width: 700px) {
    .contact-page .info-row label {
        min-width: 190px;
    }
}
@media screen and (max-width: 450px) {
    .contact-page-form {
        padding-left: 0;
        .info-row {
            align-items: flex-start;
            flex-direction: column;
            label {
                margin-bottom: 6px;
            }
            select {
                width: 100%;
            }
            &-descrip span {
                width: 100%;
            }
        }
    }
    .contact--info-wrapper {
        padding-left: 0;
    }
}



