.cv {
  &__work-history-descrip {
    border: 1px solid #b7d9f6;
    margin-bottom: 22px;
    border-radius: 5px;
  }
  &__featured-proj {
    .cv__upload {
      &-top {
        width: 360px;
        margin-right: 32px;
      }
    }
    &-descrip {
      border: 1px solid #b7d9f6;
      border-radius: 5px;
    }
    .cv__fields-container {
      width: 100%;

    }
    .cv__fields {
      width: 100%;
    }
    &--tech {
      display: flex;
      margin-top: 20px;
      flex-wrap: wrap;
      & > div {
        width: 125px;
        height: 125px;
        margin-bottom: 10px;
        &:not(:last-child) {
          margin-right: 15px;
        }
        img {
          width: 100%;
          height: 100%;

        }
      }
      &-upload {
        .cv__upload {
          margin-right: 32px;
          height: 100%;
          margin-top: 0;
        }
      }
    }
  }
  &__full-width-uploader {
    padding: 0;
    margin-top: 50px;
  }
  &__sub-fields {
    margin-left: 40px;
  }
  &__personal-info-title {
    margin-bottom: 15px;
  }
  &__work-history-full-upload {
    padding: 0;
  }
  &__field {
    height: 37px;
    .mdc-floating-label {
      top: 10px;
    }
    .mdc-notched-outline__leading {
      border-color: #459DE9!important;
    }
    .mdc-notched-outline__trailing {
      border-color: #459DE9!important;
    }
    .mdc-notched-outline__notch {
      border-color: #459DE9!important;
    }
    .mdc-notched-outline__trailing {
      border-color: #459DE9!important;
    }
    .mdc-text-field__icon {
      position: relative;
      left: 9px;
      top: 6px;
    }
  }
  &__textarea {
    .mdc-notched-outline__leading {
      border-color: #459DE9!important;
    }
    .mdc-notched-outline__trailing {
      border-color: #459DE9!important;
    }
    .mdc-text-field__input {
      height: 170px;
     
    }
  }
  &__select {
    height: 38px;
    .mdc-floating-label {
      top: 10px;
    }
    .mdc-notched-outline__leading {
      border-color: #459DE9!important;
    }
    .mdc-notched-outline__trailing {
      border-color: #459DE9!important;
    }
    .mdc-notched-outline__notch {
      border-color: #459DE9!important;
    }
    .mdc-notched-outline__trailing {
      border-color: #459DE9!important;
    }
    .mdc-select__native-control {
      height: 38px;
      padding-left: 16px;
      padding-right: 52px;
      padding-top: 5px;
      padding-bottom: 4px;
      color: #459de9 !important;
      font-family: 'Titillium Web', sans-serif !important;
      font-size: 15px;
      font-weight: 400;
    }
    .mdc-select__dropdown-icon {
      bottom: 6px;
    }
  }
  &__main {
    width: 100%;
    margin-left: 170px;
    margin-top: 92px;
    padding: 35px 40px;
    box-sizing: border-box;
    &-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 35px; 
      .pages-main-title {
        margin: 0;
      }
    }
    &-circle-percent {
      color: #fff;
      font-family: 'Titillium Web', sans-serif !important;
      font-size: 16px;
      font-weight: 700;
      width: 53px;
      height: 53px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
    }
    &-circles {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-circle-percent {
      margin-right: 15px;
    }
    &-circle-text {
      color: #454545;
      font-family: 'Titillium Web', sans-serif !important;
      font-size: 16px;
      font-weight: 400;
    }
    &-circle-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child) {
        margin-right: 20px;
      }
      // 3 Circles with percents
      &:nth-child(1) {
        .cv__main-circle-percent {
          background-color: #00c3a1;
        }
      }
      &:nth-child(2) {
        .cv__main-circle-percent {
          background-color: #5a74ff;
        }
      }
      &:nth-child(3) {
        .cv__main-circle-percent {
          background-color: #ffb502;
        }
      }
    }

  }

  &__shadow-container {
    box-shadow: 0 15px 30px rgba(25, 71, 128, 0.2);
    padding-bottom: 60px;
    margin-bottom: 30px;
  }

  &__upload {
    justify-content: center;
    background: #F2F8FD;
    align-items: center;
    border-radius: 4px;
    display: flex;
    height: 200px;
    width: 100%;
    position: relative;
    &-input {
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: 0;
      cursor: pointer;
      z-index: 4;
    }
    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-text {
        color: #459de9;
        font-size: 14px;
        margin-top: 12px;
      }
    }
    &.small {
      width: 200px;
    }
    &.mid {
      height: auto;
      width: 410px;
    }
    &.large {
      height: 300px;
    }
  }

  &__upload-plus {
    justify-content: center;
    align-items: center;
    background: #D1E7F9;
    border-radius: 50%;
    display: flex;
    height: 66px;
    width: 66px;
    i {
      font-size: 47px;
      color: #86BFF0;
    }
  }

  &__title {
    font-family: 'Titillium Web', sans-serif !important;
    color: #777171;
  }

  &__fields-container {
    border: 1px solid #459DE9;
    padding: 30px 40px;
    border-radius: 4px;
    display: flex;
    &.clear {
      border: none;
      padding: 30px 0;
    }
    &-edu {
      border: 1px solid #b7d9f6;
    }
  }

  &__logo {
    margin-right: 17px;
    i {
      font-size: 48px;
      color: #459DE9;
    }
  }

  &__fields {
    flex-direction: column;
    display: flex;
    width: 265px;
  }

  &__subject-button {
    font-family: 'Titillium Web', sans-serif !important;
    text-transform: capitalize;
    align-self: flex-end;
    font-weight: 900;
    display: flex;
  }

  &__work-area {
    flex-direction: column;
    box-sizing: border-box;
    margin-left: 40px;
    padding: 30px 0 0;
    display: flex;
    width: 100%;
  }

}

.d-flex {
  display: flex;
}
/*Cv page intups*/
.cv__main .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
  border-radius: 0 15px 15px 0;
}
.cv__main .mdc-text-field--outlined .mdc-notched-outline .mdc-notched-outline__leading {
  border-radius: 15px 0 0 15px;
}

/*Cv page textareas*/
.cv__main .mdc-text-field--textarea .mdc-notched-outline .mdc-notched-outline__trailing {
  border-radius: 0 15px 15px 0;
}
.cv__main .mdc-text-field--textarea .mdc-notched-outline .mdc-notched-outline__leading {
  border-radius: 15px 0 0 15px;
}

/*Cv page select*/
.cv__main .mdc-select--outlined .mdc-notched-outline .mdc-notched-outline__leading {
  border-radius: 15px 0 0 15px;
}
.cv__main .mdc-select--outlined .mdc-notched-outline .mdc-notched-outline__trailing {
  border-radius: 0 15px 15px 0;
}

.mdc-card--key-skills {
  input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #a0a0a0;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 12px;
    font-weight: 400;
  }
  input::-moz-placeholder { /* Firefox 19+ */
    color: #a0a0a0;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 12px;
    font-weight: 400;
  }
  input:-ms-input-placeholder { /* IE 10+ */
    color: #a0a0a0;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 12px;
    font-weight: 400;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: #a0a0a0;
    font-family: 'Titillium Web', sans-serif !important;
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (max-width: 1300px) {
  .cv__upload.mid {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .cv__main {
    margin-left: 0;
    padding: 20px 20px;
    margin-top: 60px;
  }
  .cv__shadow-container {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .cv__main-top {
    flex-direction: column;
    align-items: flex-start;
    .pages-main-title {
      margin-bottom: 20px;
    }
  }
  
}
@media screen and (max-width: 830px) {
  .cv__main .profile__card-description {
    flex-direction: column;
  }
  .cv__upload {
    margin-left: 0;
  }
  .cv__work-area {
    margin-left: 0;
  }
  .cv__fields-container {
    margin-bottom: 20px;
  }
  .cv__upload.mid {
    padding: 20px 0;
  }
}

@media screen and (max-width: 700px) {
  .cv__main {
    padding: 10px;
  }
  .profile__small-content {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  .cv__main-circles {
    flex-direction: column;
    align-items: baseline;
  }
  .cv__main-circle-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .cv__featured-proj .cv__upload-top {
    width: 100%;
  }
  .cv__sub-fields {
    margin-left: 0;
  }
  .cv__featured-proj--tech {
    > div {
      width: 85px;
      height: 85px;
    }
  }
  .cv__logo {
    display: none;
  }
  .cv__fields-container {
    padding: 15px 15px;
  }
  .cv__upload.large {
    height: 150px;
  }
  .cv__shadow-container {
    padding-bottom: 0px;
  }
  .cv__full-width-uploader {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .cv__fields-container {
    margin-bottom: 0;
  }
  .cv__upload.mid {
    margin-top: 15px;
  }
}

