@import "~@material/checkbox/mdc-checkbox";
@import "~@material/data-table/mdc-data-table";

/*Styles for My request page*/
.request-table {
    display: flex;
    box-shadow: 0 15px 30px rgba(25, 71, 128, 0.2);
    width: 100%;
    padding: 25px;
    .pagination {
        order: 5;
    }
    .mdc-list-item__text {
        font-family: 'Titillium Web', sans-serif !important;
        font-size: 14px;
    }

    .cell-dots-wrapper {
        position: relative;
    }
    /*hidden menu,wich opens after click on dots*/
    .mdc-menu-surface {
        top: 31px;
        right: calc(100% - 27px);
    }
    :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::before,
    :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::after {
        background-color: #5b9de3;
    }
    .read-chip {
        background-color: #e2f9f3;
        color: #00c083 !important;
    }
    .unread-chip {
        background-color: #ffeaf1;
        color: #ff00749e !important;
    }
    &-title {
        font-size: 20px;
        line-height: 60px;
        font-weight: 700;
        color: #343d42;
        font-family: 'Titillium Web', sans-serif !important;
        margin: 0px 0 0px 14px;
    }
    .my-inbox-chip {
        text-align: center;
        display: flex;
        justify-content: center;
        width: 80px;
        height: 33px;
        border-radius: 5px;
        font-weight: 600;
    }
    .mdc-data-table {
        &__cell-dots {
            text-align: left;
            display: flex;
            cursor: pointer;
            padding: 15px 15px 15px 16px;
            span {
                width: 4px;
                height: 4px;
                margin-right: 3px;
                border-radius: 100%;
                background: #c7c7c7;
            }
        }
        &_subject {
            color: #b7b7b7;
            font-size: 14px;
            margin-top: 0;
        }
    }
}
.request-table .mdc-data-table {
    &--date {
        text-align: left;
    }
    &__header-cell {
        color: #959595;
        font-size: 14px;
    }
    &__table {
        @include mdc-data-table-selected-row-fill-color(#fff);
        @include mdc-data-table-checked-icon-color(#88c2ff);
        margin-bottom: 55px;
    }
    &__from--name {
        margin-bottom: 2px;
    }
    &__cell-button {
        padding-left: 0;
    }
}

#my-dialog-title {
    color: #5B9DE3;
}

.message {
    width: 875px;
    &__header {
        border-bottom: 2px solid #F0F0F0;
        justify-content: space-between;
        padding-bottom: 20px;
        display: flex;
    }

    &__text {
        font-family: 'Titillium Web', sans-serif;
        box-sizing: border-box;
        padding: 10px;
        border: none;
        width: 100%;
    }

    &__story {
        border-top: 2px solid #F0F0F0;
    }

    &__item-title {
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
        font-weight: 900;
    }

    &__item-message {
        font-family: 'Titillium Web', sans-serif;
        font-size: 15px;
    }

    &__title {
        color: #343D42;
        font-size: 22px;
    }

    &__subject {
        margin-top: 10px;
        font-size: 14px;
        color: #343D42;
    }

    &__date {
        font-weight: 100;
        font-size: 12px;
        color: #AFAFAF;
    }

    .mdc-button--raised {
        color: #fff !important;
    }
}

.dialog-title {
    font-size: 13px;
    font-weight: 600;
}

.dialog-footer {
    border-top: 2px solid #F0F0F0;
    padding: 15px 5px;
}

.modal-action-button {
    background: #4CA0E9 !important;
    color: #fff !important;
}

.mdc-dialog .mdc-dialog__surface {
    max-width: 920px;
}

@media screen and (max-width: 1024px) {
    .mdc-dialog .mdc-dialog__surface {
        max-width: calc(100% - 32px);
    }
    .message {
        width: auto;
    }
    .message__header {
        flex-direction: column;
    }
}

/*Media for My Requests page*/
@media screen and (max-width: 700px) {
    .mdc-data-table--date,
    .header-cell--date {
        display: none;
    }
    .mdc-data-table__table .mdc-menu {
        min-width: 75px;
    }
    .mdc-data-table__table .mdc-list-item {
        height: 30px;
        padding: 0 8px;
    }
   
}
@media screen and (max-width: 530px) {
    .my-inbox-table .mdc-data-table__cell,
    .my-inbox-table .mdc-data-table__header-cell {
        padding-right: 5px;
        padding-left: 5px;
    }
    .request-table {
        padding: 10px;
    }
    .request-table .my-inbox-chip {
        width: 63px;
        font-size: 13px;
    }
    .mdc-data-table__cell--checkbox {
        padding-left: 0;
        padding-right: 12px;
    }
}
@media screen and (max-width: 400px) {
    .mdc-data-table__table .mdc-menu {
        min-width: 60px;
    }
    .mdc-data-table__cell {
        font-size: 14px !important;
    }
    .request-table .my-inbox-chip {
        width: 49px;
        height: 23px;
        font-size: 12px;
    }
    .my-inbox-table .mdc-data-table__cell,
    .my-inbox-table .mdc-data-table__header-cell {
        padding-right: 3px;
        padding-left: 3px;
    }
    .mdc-data-table__from--name,
    .request-table .mdc-data-table_subject {
        font-size: 13px;
    }
}


/*MODAL WINDOW*/
.mdc-dialog__title {
    border-bottom: none;
}
.message__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.mdc-dialog--scrollable .mdc-dialog__title {
    padding-bottom: 0;
}
.mdc-dialog__actions {
    justify-content: space-between;
}
.dialog-footer {
    padding: 20px 24px;
}
.mdc-dialog--send-btn {
    width: 225px;
    height: 60px;
    border-radius: 30px;
    background-color: #5b9de3;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif;
    text-transform: none;
    letter-spacing: 0;
    order: -2;
    margin: 0 !important;
}
.mdc-dialog--stacked .mdc-dialog__actions {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mdc-dialog__button {
    margin: 0 !important;
}

.dialog-footer {
    padding: 20px 24px;
}

.message__date {
    line-height: 16px;
    margin-left: 10px;
}

.mdc-button__delete {
    color: #9c9c9c !important;
}

.mdc-dialog__title + .mdc-dialog__content {
    padding-top: 0;
    font-family: 'Titillium Web', sans-serif;
}

.mdc-dialog .mdc-dialog__title {
    font-family: 'Titillium Web', sans-serif;
}

// media for My request MODAL
@media screen and (max-height: 900px) and (min-width: 1024px) {
    .mdc-dialog .mdc-dialog__surface {
        max-height: calc(100% - 120px);
        margin-top: 92px;
    }
    .dialog-footer {
        padding: 10px 24px;
    }
    .mdc-dialog--send-btn {
        width: 150px;
        height: 50px;
    }
}

@media screen and (max-height: 900px) and (max-width: 1024px) {
    .mdc-dialog .mdc-dialog__surface {
        max-height: calc(100% - 80px);
        margin-top: 60px;
    }
    .dialog-footer {
        padding: 10px 24px;
    }
    .mdc-dialog--send-btn {
        width: 150px;
        height: 50px;
    }
    .mdc-dialog__actions {
        min-height: 40px;
    }
}

@media screen and (max-width: 700px) {
    .message__text {
        height: 100px;
    }
    .mdc-dialog__title::before {
        height: 26px;
    }
    .message .message__header {
        margin-top: 0;
    }
    .mdc-dialog--send-btn {
        width: 110px;
        height: 45px;
    }
}
@media screen and (max-height: 700px) {
    .message__text {
        height: 100px;
    }
}
@media screen and (max-height: 500px) {
    .dialog-footer {
        padding: 5px 15px;
    }
    .mdc-dialog__content {
        padding: 20px 15px;
        padding: 0 15px 9px;
    }
    .mdc-dialog__title {
        padding: 0 15px;
    }
    .message__text {
        height: 50px;
    }
}




